<mat-toolbar color="primary">
  <button mat-button class="home" routerLink="/">{{'NAV.TITLE' | translate}}</button>
  <ng-container *ngIf="displaySections">
    <ng-container *ngFor="let section of SECTIONS">
      <button mat-button [routerLink]="section.sub ? section.sub[0].link : section.link"
              [class.active-link]="section === active">{{section.title | translate}}</button>
    </ng-container>
  </ng-container>
  <span class="spacer"></span>
  <ng-container *ngIf="displaySearchBar">
    <form (ngSubmit)="search()">
      <mat-form-field appearance="fill">
        <mat-icon matPrefix>search</mat-icon>
        <mat-label>{{'NAV.SEARCH_LABEL' | translate}}</mat-label>
        <input matInput [formControl]="searchCtrl" [matAutocomplete]="subjectsAuto" name="search" type="text" autocomplete="off">
      </mat-form-field>
    </form>
  </ng-container>
  <span>
    <button mat-icon-button [matTooltip]="'COMMON.UI_LANGUAGES.SWITCH_BUTTON_TOOLTIP' | translate"
            [matMenuTriggerFor]="languagesMenu">
      <mat-icon>language</mat-icon>
    </button>
    <mat-menu #languagesMenu>
      <ng-template matMenuContent>
        <button mat-menu-item *ngFor="let language of LANGUAGES" [disabled]="language === translate.currentLang"
                (click)="translate.use(language)">
          {{'COMMON.UI_LANGUAGES.' + language | translate}}
        </button>
      </ng-template>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="userMenu"><mat-icon>account_circle</mat-icon> {{keycloak.getUsername()}}</button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="keycloak.logout()">{{'NAV.KEYCLOAK.LOGOUT' | translate}}</button>
    </mat-menu>
  </span>
</mat-toolbar>
<mat-autocomplete #subjectsAuto="matAutocomplete" (optionSelected)="search()">
  <mat-option *ngFor="let subject of filteredSubjects | async" [value]="subject.namew">
    {{ subject.name }}
  </mat-option>
</mat-autocomplete>
