<mat-sidenav-container>
  <mat-sidenav-content>
    <form *ngIf="form" [formGroup]="form">
      <mat-card>
        <mat-card-title>{{'ENTRIES.EDITOR.CONTENT.TITLE.HEADER' | translate}}</mat-card-title>
        <mat-card-content>

          <mat-form-field appearance="outline">
            <mat-label>{{'COMMON.LOCALE.LABEL' | translate}}</mat-label>
            <mat-select formControlName="locale">
              <mat-option *ngFor="let language of LANGUAGES" [value]="language">{{'COMMON.LANGUAGES.' + language.toUpperCase() | translate}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-card-subtitle>{{'ENTRIES.EDITOR.HEADER.SUBTITLES.LOGO' | translate}}</mat-card-subtitle>
          <mat-form-field appearance="outline">
            <mat-label>{{'ENTRIES.EDITOR.HEADER.LOGO.PATH.LABEL' | translate}}</mat-label>
            <input matInput formControlName="logoPath" autocomplete="off">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{'ENTRIES.EDITOR.HEADER.LOGO.ALT_TEXT.LABEL' | translate}}</mat-label>
            <input matInput formControlName="logoAltText" autocomplete="off">
          </mat-form-field>

          <mat-card-subtitle>{{'ENTRIES.EDITOR.HEADER.SUBTITLES.TEXT' | translate}}</mat-card-subtitle>
          <mat-form-field appearance="outline">
            <mat-label>{{'ENTRIES.EDITOR.HEADER.TITLE.LABEL' | translate}}</mat-label>
            <input matInput formControlName="title" autocomplete="off">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{'ENTRIES.EDITOR.HEADER.BODY.LABEL' | translate}}</mat-label>
            <textarea matInput formControlName="body" cdkTextareaAutosize></textarea>
          </mat-form-field>

          <mat-card-subtitle>{{'ENTRIES.EDITOR.HEADER.SUBTITLES.LAW' | translate}}</mat-card-subtitle>
          <mat-form-field appearance="outline">
            <mat-label>{{'ENTRIES.EDITOR.HEADER.JURISDICTION.LABEL' | translate}}</mat-label>
            <textarea matInput formControlName="jurisdiction" cdkTextareaAutosize></textarea>
          </mat-form-field>
          <mat-checkbox formControlName="showJurisdiction">{{'ENTRIES.EDITOR.CONTENT.SHOW' | translate}}</mat-checkbox>
          <mat-form-field appearance="outline">
            <mat-label>{{'ENTRIES.EDITOR.HEADER.COLLECTION_METHOD.LABEL' | translate}}</mat-label>
            <textarea matInput formControlName="collectionMethod" cdkTextareaAutosize></textarea>
          </mat-form-field>
          <mat-checkbox formControlName="showCollectionMethod">{{'ENTRIES.EDITOR.CONTENT.SHOW' | translate}}</mat-checkbox>
          <mat-form-field appearance="outline">
            <mat-label>{{'ENTRIES.EDITOR.HEADER.SCOPE.LABEL' | translate}}</mat-label>
            <textarea matInput formControlName="scope" cdkTextareaAutosize></textarea>
          </mat-form-field>
          <mat-checkbox formControlName="showScope">{{'ENTRIES.EDITOR.CONTENT.SHOW' | translate}}</mat-checkbox>

          <div formGroupName="dataController">
            <mat-card-subtitle>{{'ENTRIES.EDITOR.CONTENT.DATA_CONTROLLER.TITLE' | translate}}</mat-card-subtitle>
            <mat-form-field appearance="outline">
              <mat-label>{{'ENTRIES.EDITOR.CONTENT.DATA_CONTROLLER.COMPANY.LABEL' | translate}}</mat-label>
              <input matInput formControlName="company" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>{{'ENTRIES.EDITOR.CONTENT.DATA_CONTROLLER.NAME.LABEL' | translate}}</mat-label>
              <input matInput formControlName="name" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>{{'ENTRIES.EDITOR.CONTENT.DATA_CONTROLLER.ADDRESS.LABEL' | translate}}</mat-label>
              <input matInput formControlName="address" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>{{'ENTRIES.EDITOR.CONTENT.DATA_CONTROLLER.EMAIL.LABEL' | translate}}</mat-label>
              <input matInput formControlName="email" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>{{'ENTRIES.EDITOR.CONTENT.DATA_CONTROLLER.PHONE.LABEL' | translate}}</mat-label>
              <input matInput formControlName="phoneNumber" autocomplete="off">
            </mat-form-field>
            <mat-checkbox formControlName="actingBehalfCompany">{{'ENTRIES.EDITOR.CONTENT.DATA_CONTROLLER.ACTING_BEHALF_COMPANY.LABEL' | translate}}</mat-checkbox>
          </div>
          <mat-checkbox formControlName="showDataController">{{'ENTRIES.EDITOR.CONTENT.SHOW' | translate}}</mat-checkbox>

          <mat-card-subtitle>{{'ENTRIES.EDITOR.HEADER.SUBTITLES.POLICY' | translate}}</mat-card-subtitle>
          <mat-form-field appearance="outline">
            <mat-label>{{'ENTRIES.EDITOR.HEADER.PRIVACY_POLICY.URL.LABEL' | translate}}</mat-label>
            <input matInput formControlName="privacyPolicyUrl" autocomplete="off">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{'ENTRIES.EDITOR.HEADER.PRIVACY_POLICY.LINK_LABEL.LABEL' | translate}}</mat-label>
            <textarea matInput formControlName="customPrivacyPolicyText" cdkTextareaAutosize></textarea>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{'ENTRIES.EDITOR.HEADER.SHORT_NOTICE.LABEL' | translate}}</mat-label>
            <input matInput formControlName="shortNoticeLink" autocomplete="off">
          </mat-form-field>
          <mat-checkbox formControlName="showShortNoticeLink">{{'ENTRIES.EDITOR.CONTENT.SHOW' | translate}}</mat-checkbox>

        </mat-card-content>
        <mat-card-actions>
          <button mat-button type="button" color="primary" [disabled]="form.invalid" (click)="save()">{{'ENTRIES.EDITOR.BUTTONS.SAVE' | translate}}</button>
          <ng-container *ngIf="version != null">
            <button mat-button type="button" color="primary" [disabled]="version.status === STATUS.ACTIVE" (click)="activate()">{{'ENTRIES.EDITOR.BUTTONS.ACTIVATE' | translate}}</button>
            <button mat-button type="button" color="warn" [disabled]="version.status !== STATUS.DRAFT" (click)="delete()">{{'ENTRIES.EDITOR.BUTTONS.DELETE' | translate}}</button>
          </ng-container>
        </mat-card-actions>
      </mat-card>
      <div class="back-button-wrapper">
        <button mat-button color="primary" routerLink="../">{{'COMMON.BUTTONS.BACK_LIST' | translate}}</button>
      </div>
    </form>
  </mat-sidenav-content>
  <mat-sidenav opened mode="side" position="end">
    <app-entry-info *ngIf="entry" [entry]="entry"></app-entry-info>
  </mat-sidenav>
</mat-sidenav-container>
