<mat-sidenav-container>
  <mat-sidenav-content>
    <form *ngIf="form" [formGroup]="form">
      <mat-card>
        <mat-card-title>{{'ENTRIES.EDITOR.CONTENT.TITLE.FOOTER' | translate}}</mat-card-title>
        <mat-card-content>

          <mat-form-field appearance="outline">
            <mat-label>{{'COMMON.LOCALE.LABEL' | translate}}</mat-label>
            <mat-select formControlName="locale" matInput required>
              <mat-option *ngFor="let language of LANGUAGES" [value]="language">{{'COMMON.LANGUAGES.' + language.toUpperCase() | translate}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-card-subtitle>{{'ENTRIES.EDITOR.FOOTER.SUBTITLES.TEXT' | translate}}</mat-card-subtitle>
          <mat-form-field appearance="outline">
            <mat-label>{{'ENTRIES.EDITOR.FOOTER.BODY.LABEL' | translate}}</mat-label>
            <textarea matInput required formControlName="body" cdkTextareaAutosize cdkAutosizeMinRows="5"></textarea>
          </mat-form-field>

          <mat-card-subtitle>{{'ENTRIES.EDITOR.FOOTER.SUBTITLES.BUTTON' | translate}}</mat-card-subtitle>
          <mat-checkbox formControlName="showAcceptAll">{{'ENTRIES.EDITOR.FOOTER.ACCEPT_ALL.DISPLAY.LABEL' | translate}}</mat-checkbox>
          <mat-form-field appearance="outline">
            <mat-label>{{'ENTRIES.EDITOR.FOOTER.ACCEPT_ALL.BUTTON_LABEL.LABEL' | translate}}</mat-label>
            <input matInput formControlName="customAcceptAllText" autocomplete="off">
          </mat-form-field>

        </mat-card-content>
        <mat-card-actions>
          <button mat-button type="button" color="primary" [disabled]="form.invalid" (click)="save()">{{'ENTRIES.EDITOR.BUTTONS.SAVE' | translate}}</button>
          <ng-container *ngIf="version != null">
            <button mat-button type="button" color="primary" [disabled]="version.status === STATUS.ACTIVE" (click)="activate()">{{'ENTRIES.EDITOR.BUTTONS.ACTIVATE' | translate}}</button>
            <button mat-button type="button" color="warn" [disabled]="version.status !== STATUS.DRAFT" (click)="delete()">{{'ENTRIES.EDITOR.BUTTONS.DELETE' | translate}}</button>
          </ng-container>
        </mat-card-actions>
      </mat-card>
      <div class="back-button-wrapper">
        <button mat-button color="primary" routerLink="../">{{'COMMON.BUTTONS.BACK_LIST' | translate}}</button>
      </div>
    </form>
  </mat-sidenav-content>
  <mat-sidenav opened mode="side" position="end">
    <app-entry-info *ngIf="entry" [entry]="entry"></app-entry-info>
  </mat-sidenav>
</mat-sidenav-container>
