<form *ngIf="form" [formGroup]="form">
  <mat-card>
    <mat-card-title>{{'ENTRIES.EDITOR.CONTENT.TITLE' | translate}}</mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>{{'TOKEN.FORM.LOCALE.LABEL' | translate}}</mat-label>
        <mat-select formControlName="locale">
          <mat-option *ngFor="let language of LANGUAGES" [value]="language">{{'COMMON.LANGUAGES.' + language.toUpperCase() | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{'ENTRIES.EDITOR.CONTENT.FOOTER.BODY.LABEL' | translate}}</mat-label>
        <textarea matInput formControlName="body"></textarea>
      </mat-form-field>
      <mat-checkbox formControlName="showAcceptAll">{{'ENTRIES.EDITOR.CONTENT.FOOTER.ACCEPT_ALL.DISPLAY.LABEL' | translate}}</mat-checkbox>
      <mat-form-field appearance="outline">
        <mat-label>{{'ENTRIES.EDITOR.CONTENT.FOOTER.ACCEPT_ALL.BUTTON_LABEL.LABEL' | translate}}</mat-label>
        <input matInput formControlName="customAcceptAllText" autocomplete="off">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="button" color="primary" [disabled]="form.invalid" (click)="save()">{{'ENTRIES.EDITOR.BUTTONS.SAVE' | translate}}</button>
      <ng-container *ngIf="version != null">
        <button mat-button type="button" color="primary" [disabled]="version.status === STATUS.ACTIVE" (click)="activate()">{{'ENTRIES.EDITOR.BUTTONS.ACTIVATE' | translate}}</button>
        <button mat-button type="button" color="warn" [disabled]="version.status !== STATUS.DRAFT" (click)="delete()">{{'ENTRIES.EDITOR.BUTTONS.DELETE' | translate}}</button>
      </ng-container>
    </mat-card-actions>
  </mat-card>
</form>
