<mat-card>
  <mat-card-title>{{'ENTRIES.EDITOR.INFORMATION.TITLE' | translate}}</mat-card-title>
  <mat-card-content>
    <dl *ngIf="entry">
      <dt>{{'ENTRIES.COMMON.TYPE.LABEL' | translate}}</dt>
      <dd>{{'COMMON.ENTRY_TYPES.' + entry.type.toUpperCase() | translate}}</dd>
      <dt>{{'ENTRIES.COMMON.KEY.LABEL' | translate}}</dt>
      <dd>{{entry.key}}</dd>
      <dt>{{'ENTRIES.COMMON.NAME.LABEL' | translate}}</dt>
      <dd>{{entry.name}}</dd>
      <dt>{{'ENTRIES.COMMON.DESCRIPTION.LABEL' | translate}}</dt>
      <dd>{{entry.description || '-'}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" (click)="edit()">{{'COMMON.BUTTONS.EDIT' | translate}}</button>
  </mat-card-actions>
</mat-card>
