<mat-card>
  <mat-card-title>Form token creator</mat-card-title>
  <mat-card-content>
    <mat-form-field appearance="outline">
      <mat-label>Subject</mat-label>
      <input matInput [(ngModel)]="subject" autocomplete="off">
    </mat-form-field>

    <mat-checkbox [(ngModel)]="vertical" checked>Vertical orientation</mat-checkbox>

    <mat-form-field appearance="outline">
      <mat-label>Header key</mat-label>
      <input matInput [(ngModel)]="headerKey" autocomplete="off">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Treatments keys</mat-label>
      <input matInput [(ngModel)]="treatmentsKeys" autocomplete="off">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Footer key</mat-label>
      <input matInput [(ngModel)]="footerKey" autocomplete="off">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Validity</mat-label>
      <input matInput [(ngModel)]="validity" autocomplete="off">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Locale</mat-label>
      <input matInput [(ngModel)]="locale" autocomplete="off">
    </mat-form-field>

    <mat-checkbox [(ngModel)]="fullReceipt" checked>Full receipt</mat-checkbox>

    <mat-form-field appearance="outline">
      <mat-label>Opt-out email</mat-label>
      <input matInput [(ngModel)]="optoutEmail" autocomplete="off">
    </mat-form-field>

    <mat-checkbox [(ngModel)]="preview" checked>Preview</mat-checkbox>

    <mat-card *ngIf="token.length > 0">
      <mat-card-title>Token</mat-card-title>
      <div class="token">{{token}}</div>
    </mat-card>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button type="button" color="primary" (click)="generateToken()">Update token</button>
    <button mat-button type="button" color="primary" (click)="updateIframe()" *ngIf="token.length > 0">Update iframe with token</button>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="formUrl">
  <mat-card-title>Form</mat-card-title>
  <iframe [src]="formUrl" title="Form Iframe" width="100%" height="800"></iframe>
</mat-card>
