@import '~@angular/material/theming';

:host {
  margin: 0 !important;
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  mat-sidenav-container {
    flex: 1 1 auto;
    min-height: 500px;
    background: none;
  }
  mat-sidenav-content {
    overflow: hidden;
    mat-horizontal-stepper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: none;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      overflow: hidden;
      ::ng-deep {
        .mat-horizontal-stepper-header-container, .mat-horizontal-content-container {
          margin: 0 auto;
          max-width: 750px;
          width: 100%;
          box-sizing: border-box;
        }
        .mat-horizontal-stepper-header-container {
          margin-top: 1em;
          margin-bottom: 1em;
          flex: 0 0 auto;
        }
        .mat-horizontal-content-container {
          overflow-y: auto;
        }
        .step-actions {
          margin-top: 1em;
          margin-bottom: 1em;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
  mat-sidenav {
    min-width: 400px;
    overflow: hidden;
    app-entries-library-drag-and-drop ::ng-deep app-entry-card ::ng-deep mat-card {
      background-color: mat-color($mat-light-theme-background, background);
    }
  }
}

mat-slide-toggle {
  margin-left: 1em;
}

.form-container {
  margin: 1em;
  &.empty {
    min-height: 80px;
    position: relative;
  }
  &.excluded {
    display: none;
  }
  app-entry-card {
    margin-bottom: 10px;
  }
  .excluded-hint, .empty-hint {
    color: $dark-secondary-text;
  }
  .empty-hint {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
  }
  &:not(:last-child) {
    margin-bottom: 2em;
  }
}

.cdk-drop-list-disabled {
  app-entry-card.cdk-drag ::ng-deep mat-card {
    cursor: not-allowed !important;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.elements-list.cdk-drop-list-dragging .element-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

mat-form-field {
  display: block;
  + mat-form-field {
    margin-top: 1em;
  }
}

.form-preview {
  padding: 0 !important;
  iframe {
    border: none;
    width: 100%;
    min-height: 70vh;
  }
}
