<mat-sidenav-container>
  <mat-sidenav-content>
      <mat-horizontal-stepper #stepper linear="true" labelPosition="bottom" [class]="'step-' + currentStep" (selectionChange)="stepChange($event)">

        <mat-step [label]="'FORM_CREATOR.STEP_ELEMENTS' | translate" [stepControl]="form.at(STEPS.ELEMENTS)">
          <ng-container *ngFor="let section of elementsLibraryConfig">
            <h4>
              <span>{{'ENTRIES.' + section.id + '.PANEL_TITLE' | translate}}</span>
              <mat-slide-toggle *ngIf="section.id === 'footers'" [(ngModel)]="section.included" (ngModelChange)="footerIncludedChange($event)"></mat-slide-toggle>
            </h4>
            <div class="form-container"
                 [class.excluded]="!section.included"
                 [class.empty]="selectedElements[section.id].length === 0"
                 cdkDropList [id]="'selected-' + section.id"
                 [cdkDropListDisabled]="section.draggingDisabled"
                 [cdkDropListData]="selectedElements[section.id]"
                 [cdkDropListConnectedTo]="['available-' + section.id]"
                 (cdkDropListDropped)="elementDropped($event)">
              <mat-card *ngIf="selectedElements[section.id].length === 0" class="empty-hint">
                <span>{{'ENTRIES.' + section.id + '.EMPTY' | translate}}</span>
              </mat-card>
              <app-entry-card *ngFor="let entry of selectedElements[section.id]"
                              cdkDrag
                              [selectable]="!section.draggingDisabled"
                              [cdkDragData]="entry"
                              [entry]="entry"></app-entry-card>
            </div>
            <div *ngIf="!section.included" class="form-container">
              <mat-card class="excluded-hint">{{'ENTRIES.' + section.id + '.EXCLUDED' | translate}}</mat-card>
            </div>
          </ng-container>
          <div class="step-actions">
            <span></span>
            <button mat-button color="primary" matStepperNext>{{'FORM_CREATOR.BUTTON_LABEL_NEXT_STEP' | translate}}</button>
          </div>
        </mat-step>

        <mat-step [label]="'FORM_CREATOR.STEP_PREVIEW' | translate">
          <mat-card *ngIf="formUrl" class="form-preview">
            <iframe [src]="formUrl"></iframe>
          </mat-card>
          <div class="step-actions">
            <button mat-button color="primary" matStepperPrevious>{{'FORM_CREATOR.BUTTON_LABEL_PREVIOUS_STEP' | translate}}</button>
            <button mat-button color="primary" matStepperNext>{{'FORM_CREATOR.BUTTON_LABEL_NEXT_STEP' | translate}}</button>
          </div>
        </mat-step>

        <mat-step [label]="'FORM_CREATOR.STEP_OPTIONS' | translate" [stepControl]="form.at(STEPS.OPTIONS)">
          <mat-card [formGroup]="form.at(STEPS.OPTIONS)">
            <mat-card-content>
              <div class="consent-validity-wrapper">
                <mat-form-field appearance="fill">
                  <mat-label>{{'FORM_CREATOR.FORM.VALIDITY.LABEL' | translate}}</mat-label>
                  <input matInput required type="number" min="1" formControlName="validity" autocomplete="off">
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>{{'FORM_CREATOR.FORM.VALIDITY_UNIT.LABEL' | translate}}</mat-label>
                  <mat-select formControlName="validityUnit" matInput required>
                    <mat-option *ngFor="let unit of VALIDITY_UNITS" [value]="unit">{{'FORM_CREATOR.FORM.VALIDITY_UNIT.VALUES.' + unit | translate}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <mat-form-field appearance="fill">
                <mat-label>{{'FORM_CREATOR.FORM.RECEIPT.LABEL' | translate}}</mat-label>
                <mat-select formControlName="receiptDeliveryType" matInput required>
                  <mat-option *ngFor="let type of RECEIPT_TYPES" [value]="type">{{'FORM_CREATOR.FORM.RECEIPT.VALUES.' + type.toUpperCase() | translate}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill" *ngIf="form.at(STEPS.OPTIONS).get('optoutModel').value">
                <mat-label>{{'FORM_CREATOR.FORM.OPTOUT_RECIPIENT.LABEL' | translate}}</mat-label>
                <input type="email" matInput formControlName="optoutRecipient" autocomplete="off" email>
              </mat-form-field>
            </mat-card-content>
          </mat-card>
          <div class="step-actions">
            <button mat-button color="primary" matStepperPrevious>{{'FORM_CREATOR.BUTTON_LABEL_PREVIOUS_STEP' | translate}}</button>
            <button mat-button color="primary" (click)="openApiUrlDialog()">{{'FORM_CREATOR.API_URL.BUTTON_VIEW' | translate}}</button>
          </div>
        </mat-step>

      </mat-horizontal-stepper>
  </mat-sidenav-content>
  <mat-sidenav opened mode="side" position="end">
    <app-entries-library
      [style]="stepper.selectedIndex !== STEPS.ELEMENTS ? 'display: none' : ''"
      [config]="elementsLibraryConfig"
      [selected]="selectedElements"
      (selectedChange)="selectedElementsChange($event)"
      [mode]="'drag'"></app-entries-library>

    <ng-container *ngIf="stepper.selectedIndex === STEPS.PREVIEW" [formGroup]="form.at(STEPS.OPTIONS)">
      <mat-form-field appearance="fill">
        <mat-label>{{'FORM_CREATOR.FORM.ORIENTATION.LABEL' | translate}}</mat-label>
        <mat-select formControlName="orientation" matInput required>
          <mat-option *ngFor="let orientation of ORIENTATIONS" [value]="orientation">{{'FORM_CREATOR.FORM.ORIENTATION.VALUES.' + orientation | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{'COMMON.LOCALE.LABEL' | translate}}</mat-label>
        <mat-select formControlName="locale" matInput required>
          <mat-option *ngFor="let language of LANGUAGES" [value]="language">{{'COMMON.LANGUAGES.' + language.toUpperCase() | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>

    <app-entries-library
      [style]="stepper.selectedIndex !== STEPS.OPTIONS ? 'display: none' : ''"
      [config]="emailsLibraryConfig"
      [selected]="selectedEmail" [mode]="'select'"
      (selectedChange)="selectedEmailChange($event)"></app-entries-library>

    <app-entries-library
      [style]="stepper.selectedIndex !== STEPS.PREVIEW ? 'display: none' : ''"
      [config]="themesLibraryConfig"
      [selected]="selectedTheme" [mode]="'select'"
      (selectedChange)="selectedThemeChange($event)"></app-entries-library>
  </mat-sidenav>
</mat-sidenav-container>
