<form *ngIf="form" [formGroup]="form">
  <mat-card>
    <mat-card-title>Content</mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Treatment title</mat-label>
        <input matInput formControlName="treatmentTitle" autocomplete="off">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Data title</mat-label>
        <input matInput formControlName="dataTitle" autocomplete="off">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Data body</mat-label>
        <textarea matInput formControlName="dataBody"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Retention title</mat-label>
        <input matInput formControlName="retentionTitle" autocomplete="off">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Retention body</mat-label>
        <textarea matInput formControlName="retentionBody"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Usage title</mat-label>
        <input matInput formControlName="usageTitle" autocomplete="off">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Usage body</mat-label>
        <textarea matInput formControlName="usageBody"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Purposes</mat-label>
        <mat-select formControlName="purposes" multiple="true">
          <mat-option *ngFor="let purpose of PURPOSES" [value]="purpose">{{purpose}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox formControlName="containsSensitiveData">Contains sensitive data</mat-checkbox>
      <mat-checkbox formControlName="containsMedicalData">Contains medical data</mat-checkbox>
      <mat-card formGroupName="dataController">
        <mat-card-title>Data controller</mat-card-title>
        <mat-card-content>
          <mat-checkbox formControlName="actingBehalfCompany">Acting behalf company</mat-checkbox>
          <mat-form-field appearance="outline">
            <mat-label>Company</mat-label>
            <input matInput formControlName="company" autocomplete="off">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" autocomplete="off">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address" autocomplete="off">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" autocomplete="off">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Phone number</mat-label>
            <input matInput formControlName="phoneNumber" autocomplete="off">
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <mat-checkbox formControlName="showDataController">Show data controller</mat-checkbox>
      <mat-card>
        <mat-card-title>Third parties</mat-card-title>
        <mat-card-content>TODO</mat-card-content>
      </mat-card>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="button" color="primary" [disabled]="form.invalid" (click)="save()">Save</button>
      <button mat-button type="button" color="primary" [disabled]="version == null || version.status === STATUS.ACTIVE" (click)="activate()">Activate</button>
    </mat-card-actions>
  </mat-card>
</form>
