:host {
  display: block;
}

app-entry-info {
  margin-top: 1em;
  margin-bottom: 1em;
}

mat-checkbox, mat-radio-group {
  display: block;
  margin-top: 1em;
  margin-left: 0.5em;
  margin-bottom: 2em;
}

mat-form-field {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

mat-divider {
  display: block;
  margin-bottom: 2em;
}

mat-card + mat-card {
  margin-top: 1em;
}

mat-card-title {
  margin-bottom: 1em;
}

mat-card-subtitle {
  font-weight: bold;
  color: black;
  font-size: 16px;
}

.back-button-wrapper {
  margin-top: 1em;
}

.required-field::after {
  content: " *";
  color: red;
}

mat-radio-button {
  margin-left: 2em;
}

mat-radio-button:first-child {
  margin-left: 0;
}
