@import 'node_modules/@angular/material/theming';

.key-result {
  code {
    background-color: mat-color($mat-light-theme-background, background);
    border: 1px solid $dark-dividers;
    padding: 6px;
    border-radius: 4px;
    display: block;
    font-weight: bold;
  }

  .key {
    padding-bottom: .5em;
  }

  .copy-btn {
    padding-bottom: .5em;
    text-align: right;
  }

  h3 {
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-top: 1px solid #DDD;
    margin-top: 1em;
  }

  .example code {
    font-weight: normal;
  }
}
