@import "src/variables";

:host {
  padding-top: 1em;
  display: block;
}

cm-entries-library {
  padding: 0 4em 0 1em;
  ::ng-deep mat-accordion ::ng-deep .library-title {
    font-size: mat-font-size($typography, 'title') !important;
  }
}
