<mat-accordion [multi]="true">
  <mat-expansion-panel *ngFor="let section of sections" hideToggle [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>{{'ENTRIES.' + section.id + '.PANEL_TITLE' | translate}}</span>
        <mat-progress-bar *ngIf="section.dataSource?.loading$ | async" mode="buffer"></mat-progress-bar>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <ng-container [ngSwitch]="mode">
        <app-entries-list *ngSwitchCase="'view'" [config]="section"></app-entries-list>
        <app-entries-list-drag-and-drop *ngSwitchCase="'drag'" [ngModel]="selected[section.id]" (ngModelChange)="selectedEntriesChange(section, $event)" [config]="section"></app-entries-list-drag-and-drop>
        <app-entries-list-select *ngSwitchCase="'select'" [ngModel]="selected[section.id]" (ngModelChange)="selectedEntriesChange(section, $event)" [config]="section"></app-entries-list-select>
      </ng-container>
    </div>
  </mat-expansion-panel>
</mat-accordion>
