<mat-sidenav-container>
  <mat-sidenav-content>
    <form *ngIf="form" [formGroup]="form">
      <mat-card>
        <mat-card-title>{{'ENTRIES.EDITOR.CONTENT.TITLE.THEME' | translate}}</mat-card-title>
        <mat-card-content>

          <mat-card-subtitle>{{'THEMES.SUBTITLES.TYPE' | translate}}</mat-card-subtitle>
          <mat-form-field appearance="outline">
            <mat-label>{{'THEMES.COMMON.TARGET_TYPE.LABEL' | translate}}</mat-label>
            <mat-select formControlName="targetType" matInput required>
              <mat-option *ngFor="let targetType of TARGET_TYPES" [value]="targetType">{{'THEMES.COMMON.TARGET_TYPE.VALUES.' + targetType.toUpperCase() | translate}}</mat-option>
            </mat-select>
          </mat-form-field>
          <!--<mat-form-field appearance="outline">
            <mat-label>{{'THEMES.COMMON.ICON.LABEL' | translate}}</mat-label>
            <input matInput formControlName="icon" autocomplete="off">
          </mat-form-field>-->

          <mat-card-subtitle>{{'THEMES.SUBTITLES.CSS' | translate}}</mat-card-subtitle>
          <div class="codemirror-wrapper">
            <p class="code-input-label">
              <span class="required-field">{{'THEMES.COMMON.CSS.LABEL' | translate}}</span>
              <span class="mat-caption">
                <br>{{'THEMES.COMMON.CSS.HINT' | translate}}
                <br>{{'THEMES.COMMON.CSS.AUTOCOMPLETE' | translate}}
              </span>
            </p>
            <ngx-codemirror formControlName="css" name="css" [options]="CODE_MIRROR_OPTIONS"></ngx-codemirror>
          </div>

        </mat-card-content>
        <mat-card-actions *ngIf="isLatestVersion()">
          <button mat-button type="button" color="primary" [disabled]="form.invalid" (click)="save()">{{'ENTRIES.EDITOR.BUTTONS.SAVE' | translate}}</button>
          <ng-container *ngIf="version != null">
            <button mat-button type="button" color="primary" [disabled]="version.status === STATUS.ACTIVE" (click)="activate()">{{'ENTRIES.EDITOR.BUTTONS.ACTIVATE' | translate}}</button>
            <button mat-button type="button" color="warn" [disabled]="version.status !== STATUS.DRAFT" (click)="delete()">{{'ENTRIES.EDITOR.BUTTONS.DELETE' | translate}}</button>
          </ng-container>
        </mat-card-actions>
      </mat-card>
      <div class="back-button-wrapper">
        <button mat-button color="primary" routerLink="../">{{'COMMON.BUTTONS.BACK' | translate}}</button>
      </div>
    </form>
  </mat-sidenav-content>
  <mat-sidenav opened mode="side" position="end">
    <app-entry-info *ngIf="entry" [entry]="entry" [showType]="false" [version]="version" (selectVersion)="selectVersion($event)"></app-entry-info>
    <app-entry-preview [safePreview]="safePreview"></app-entry-preview>
  </mat-sidenav>
</mat-sidenav-container>
