<div class="user-page">
  <div class="user-details">
    <mat-icon>account_circle</mat-icon>
    <h3>{{username}}</h3>
    <!-- CGU here -->
  </div>
  <div class="user-treatments">
    <mat-card>
      <h2>Consentements</h2>
      <p>Gérez et modifiez vos consentements depuis cette page</p>
      <cm-entry-card [entry]="card.entry" [record]="card.record" *ngFor="let card of filterCards(data, 'conditions')"></cm-entry-card>
      <cm-entry-card [entry]="card.entry" [record]="card.record" *ngFor="let card of filterCards(data, 'treatment')"></cm-entry-card>
    </mat-card>
  </div>
  <div class="user-preferences">
    <mat-card>
      <h2>Préférences</h2>
      <p>Gérez et modifiez vos préférences depuis cette page</p>
      <cm-entry-card [entry]="card.entry" [record]="card.record" *ngFor="let card of filterCards(data, 'preference')"></cm-entry-card>
    </mat-card>
  </div>
</div>
