.subtitle-optional {
  font-size: small;
  font-style: italic;
  font-weight: normal;
}

.retention-fields {
  display: flex;
  flex-direction: row;

  .description {
    width: 100%;
  }

  .value {
    margin-left: 1em;
    width: 90px;
  }

  .unit {
    margin-left: 1em;
    width: 140px;
  }
}

.third-parties-card {
  margin-bottom: 2em;

  mat-card-content {
    margin-bottom: 0;
  }
}

.third-parties-empty {
  padding-left: 0.5em;
  font-style: italic;
}

.third-party {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;

  .third-party-fields {
    display: flex;
    flex-direction: row;
    width: 100%;

    mat-form-field {
      margin: 0;
    }

    .third-party-description {
      width: 100%;
      padding-left: 1em;
      padding-right: 1em;
    }
  }

  .mat-icon-button {
    margin-bottom: 1.75em;
  }
}
