.third-parties-empty {
  padding-left: 0.5em;
  font-style: italic;
}

.third-party {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;

  .third-party-fields {
    display: flex;
    flex-direction: row;
    width: 100%;

    mat-form-field {
      margin: 0;
    }

    .third-party-description {
      width: 100%;
      padding-left: 1em;
      padding-right: 1em;
    }
  }

  .mat-icon-button {
    margin-bottom: 1.75em;
  }
}
