:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;

  .container {
    margin: 2em;
  }

  .table-container {
    position: relative;
    margin-top: 1em;

    .progress-bar-container {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
    }

    table {
      width: 100%;

      &.loading {
        ::ng-deep tbody tr {
          opacity: 0.5;
        }
      }

      td {
        max-width: 20em;
      }
    }
  }

  .back-button-wrapper {
    margin-left: 2em;
  }

  mat-sidenav {
    min-width: 350px;

    .list-content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
    }

    .empty-log {
      padding: 1em;
      font-style: italic;
    }
  }
}
