:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;

  ::ng-deep {
    .dashboard {
      margin: 0 auto;
      width: 100%;
      box-sizing: border-box;

      .graphs {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        mat-card {
          margin: 2em;
        }
      }
    }
  }
}
