:host {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dashboard {
  margin: 0 auto;
  max-width: 1280px;
  padding-top: 1em;
  box-sizing: border-box;

  .graphs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    mat-card {
      margin: 1em;
      width: 500px;
      mat-card-content {
        height: 240px;
      }
    }
  }
}
