<div class="dashboard">

  <form class="search-container" (ngSubmit)="goToPage()">
    <div class="search-bar">
      <mat-form-field class="search-field" appearance="outline">
        <mat-label>Utilisateur</mat-label>
        <input matInput [formControl]="searchValue" [matAutocomplete]="auto">
      </mat-form-field>
    </div>
    <div class="search-button">
      <button type="submit" mat-raised-button color="primary">
        Voir la page de cet utilisateur
      </button>
    </div>
  </form>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let subject of filteredSubjects | async" [value]="subject">
      {{ subject }}
    </mat-option>
  </mat-autocomplete>

  <div class="graphs">

    <div class="card-container">
      <mat-card>
        <mat-card-title>Nombre de consentements (cumulés)</mat-card-title>
        <mat-card-content *ngIf="recordsWeekData; else noContent">
          <div class="chart-container">
            <canvas baseChart
                    chartType="line"
                    width="400px"
                    height="400px"
                    [datasets]="recordsWeekData.chartData"
                    [labels]="recordsWeekData.chartLabels"
                    [colors]="CHART_COLORS_SET"
                    [options]="CHART_OPTIONS.stackedChart">
            </canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="card-container">
      <mat-card>
        <mat-card-title>Consentements moyens par semaine</mat-card-title>
        <mat-card-content *ngIf="recordsAverageData; else noContent">
          <div class="chart-container">
            <canvas baseChart
                    chartType="pie"
                    width="400px"
                    height="400px"
                    [datasets]="recordsAverageData.chartData"
                    [labels]="recordsAverageData.chartLabels">
            </canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="card-container">
      <mat-card>
        <mat-card-title>Répartition des réponses (cumulées)</mat-card-title>
        <mat-card-content *ngIf="answersWeekData; else noContent">
          <div class="chart-container">
            <canvas baseChart
                    chartType="bar"
                    width="400px"
                    height="400px"
                    [datasets]="answersWeekData.chartData"
                    [labels]="answersWeekData.chartLabels"
                    [colors]="CHART_COLORS_SET"
                    [options]="CHART_OPTIONS.stackedChart">
            </canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="card-container">
      <mat-card>
        <mat-card-title>Quelques nombres</mat-card-title>
        <mat-card-content *ngIf="numbersData; else noContent">
          <mat-list>
            <mat-list-item>Utilisateurs connus : {{ numbersData.subjects }}</mat-list-item>
            <mat-list-item>Consentements enregistrés : {{ numbersData.records }}</mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

</div>

<ng-template #noContent>
  <mat-card-content class="no-content">
    <mat-icon class="mat-icon-3x">block</mat-icon>
    <div>Aucune donnée à afficher sur cette période</div>
  </mat-card-content>
</ng-template>
