<div class="dashboard">
  <div class="graphs">

    <cm-dashboard-chart #recordsWebformChart
                        *ngIf="recordsWebformStats"
                        name="RECORDS_WEBFORM"
                        [labelsTranslations]="labelsTranslations"
                        [stats]="recordsWebformStats"
                        [chartOptions]="CHART_OPTIONS.unstackedChart"></cm-dashboard-chart>

    <cm-dashboard-chart #recordsOperatorChart
                        *ngIf="recordsOperatorStats"
                        name="RECORDS_OPERATOR"
                        [labelsTranslations]="labelsTranslations"
                        [stats]="recordsOperatorStats"
                        [chartOptions]="CHART_OPTIONS.unstackedChart"></cm-dashboard-chart>

    <cm-dashboard-top-table #topTable
                            *ngIf="topStats"
                            [stats]="topStats"></cm-dashboard-top-table>

    <cm-dashboard-chart #subjectsChart
                        *ngIf="subjectsStats"
                        name="SUBJECTS"
                        [labelsTranslations]="labelsTranslations"
                        [stats]="subjectsStats"
                        [chartOptions]="CHART_OPTIONS.unstackedChart"></cm-dashboard-chart>

    <cm-dashboard-chart #modelsChart
                        *ngIf="modelsStats"
                        name="MODELS"
                        [labelsTranslations]="labelsTranslations"
                        [stats]="modelsStats"
                        [chartOptions]="CHART_OPTIONS.unstackedChart"></cm-dashboard-chart>

  </div>
</div>
