<ng-container [ngSwitch]="entry?.type">
  <ng-container *ngSwitchCase="'basicinfo'">
    <cm-basicinfo [entry]="entry" [version]="latest"></cm-basicinfo>
  </ng-container>
  <ng-container *ngSwitchCase="'treatment'">
    <cm-treatment [entry]="entry" [version]="latest"></cm-treatment>
  </ng-container>
  <ng-container *ngSwitchCase="'preference'">
    <cm-preference [entry]="entry" [version]="latest"></cm-preference>
  </ng-container>
  <ng-container *ngSwitchCase="'conditions'">
    <cm-conditions [entry]="entry" [version]="latest"></cm-conditions>
  </ng-container>
  <ng-container *ngSwitchCase="'theme'">
    <cm-theme [entry]="entry" [version]="latest"></cm-theme>
  </ng-container>
  <ng-container *ngSwitchCase="'email'">
    <cm-email [entry]="entry" [version]="latest"></cm-email>
  </ng-container>
</ng-container>
