:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  ::ng-deep {
    mat-sidenav-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      mat-sidenav {
        width: 360px;
        padding: 1em;
      }
      mat-sidenav-content {
        padding: 2em;

        form {
          margin: 0 auto 2em auto;
          max-width: 750px;
        }
      }
    }
  }
}
