:host {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  ::ng-deep {
    mat-sidenav-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      mat-sidenav {
        width: 360px;
        padding: 1em;
      }
      mat-sidenav-content form {
        margin: 2em auto;
        width: 750px;
      }
    }
  }
}
