<div class="filter-container">
  <mat-form-field appearance="fill">
    <mat-label>Types</mat-label>
    <mat-select (ngModelChange)="filterChange('types', $event)" [ngModel]="filter.types" multiple="true">
      <mat-option *ngFor="let type of TYPES" [value]="type">{{type}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <button mat-raised-button color="primary" (click)="newEntry()">New entry</button>
  </div>
</div>
<div class="table-container mat-elevation-z6">
  <div class="progress-bar-container" *ngIf="dataSource.loading$ | async">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <table mat-table [dataSource]="dataSource" [class.loading]="dataSource.loading$ | async"
         matSort [matSortActive]="filter.order" [matSortDirection]="filter.direction" matSortDisableClear="true">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id | shortId}} </td>
    </ng-container>

    <ng-container matColumnDef="key">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Key </th>
      <td mat-cell *matCellDef="let element"> {{element.key}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element"> <button mat-icon-button (click)="editEntry(element, $event)"><mat-icon>edit</mat-icon></button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr [routerLink]="'./' + row.id" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageIndex]="filter.page" [pageSize]="this.filter.size" showFirstLastButtons></mat-paginator>
</div>
