<div class="filter-container">
  <mat-form-field appearance="fill">
    <mat-label>{{'ENTRIES.COMMON.TYPE.LABEL' | translate}}</mat-label>
    <mat-select (ngModelChange)="filterChange('types', $event)" [ngModel]="filter.types" multiple="true">
      <mat-option *ngFor="let type of TYPES" [value]="type">{{'COMMON.ENTRY_TYPES.' + type.toUpperCase() | translate}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <button mat-raised-button color="primary" (click)="newEntry()">{{'ENTRIES.CREATE_BUTTON' | translate}}</button>
  </div>
</div>
<div class="table-container mat-elevation-z6">
  <div class="progress-bar-container" *ngIf="dataSource.loading$ | async">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <table mat-table [dataSource]="dataSource" [class.loading]="dataSource.loading$ | async"
         matSort [matSortActive]="filter.order" [matSortDirection]="filter.direction" matSortDisableClear="true">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>{{'ENTRIES.COMMON.ID.LABEL' | translate}}</th>
      <td mat-cell *matCellDef="let element">{{element.id | shortId}}</td>
    </ng-container>

    <ng-container matColumnDef="key">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>{{'ENTRIES.COMMON.KEY.LABEL' | translate}}</th>
      <td mat-cell *matCellDef="let element">{{element.key}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>{{'ENTRIES.COMMON.NAME.LABEL' | translate}}</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>{{'ENTRIES.COMMON.TYPE.LABEL' | translate}}</th>
      <td mat-cell *matCellDef="let element">{{'COMMON.ENTRY_TYPES.' + element.type.toUpperCase() | translate}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element"> <button mat-icon-button (click)="editEntry(element, $event)"><mat-icon>edit</mat-icon></button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr [routerLink]="'./' + row.id" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageIndex]="filter.page" [pageSize]="this.filter.size" showFirstLastButtons></mat-paginator>
</div>
