@import '~@angular/material/theming';

:host mat-expansion-panel {
  box-shadow: none !important;
  background: none !important;
  .mat-expansion-panel-header {
    background: none !important;
    .mat-progress-bar {
      align-self: center;
      width: 32px;
      margin-left: 10px;
    }
  }
}

.section-toolbar {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
}

.sort-actions button {
  color: $dark-secondary-text;
  &[mat-icon-button]:hover {
    background-color: mat-color($mat-light-theme-background, hover);
  }
}

.mat-grid-list {
  &.loading {
    .mat-grid-tile {
      opacity: 0.4;
      user-select: none;
    }
  }

  .mat-grid-tile {
    overflow: visible !important;
  }
}

.mat-paginator {
  background: none;
  &.single-page {
    display: none;
  }
}

app-entry-card {
  width: 100%;
  height: 100%;
}
