<mat-accordion [multi]="true">
  <mat-expansion-panel *ngFor="let section of sections" hideToggle [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>{{'ENTRIES.' + section.type.toUpperCase() + '.PANEL_TITLE' | translate}}</span>
        <mat-progress-bar *ngIf="section.dataSource.loading$ | async" mode="buffer"></mat-progress-bar>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <ng-container *ngIf="(section.dataSource.connect() | async) as entries">
        <div class="section-toolbar">
          <div></div>
          <div *ngIf="section.showSort && entries.length > 0" class="sort-actions">
            <button mat-button [matMenuTriggerFor]="orderMenu">{{'ENTRIES.COMMON.' + section.filter.order.toUpperCase() + '.LABEL' | translate}}</button>
            <mat-menu #orderMenu>
              <ng-template matMenuContent>
                <button mat-menu-item [disabled]="section.filter.order === 'name'" (click)="sortBy('name', section)">{{'ENTRIES.COMMON.NAME.LABEL' | translate}}</button>
                <button mat-menu-item [disabled]="section.filter.order === 'key'" (click)="sortBy('key', section)">{{'ENTRIES.COMMON.KEY.LABEL' | translate}}</button>
              </ng-template>
            </mat-menu>
            <button (click)="toggleDirection(section)" mat-icon-button><mat-icon>{{section.filter.direction === 'asc' ? 'arrow_upward' : 'arrow_downward'}}</mat-icon></button>
          </div>
        </div>
        <div cdkDropList
             [id]="'available-' + section.type"
             [cdkDropListConnectedTo]="['selected-' + section.type]"
             [cdkDropListData]="entries"
             cdkDropListSortingDisabled
             class="elements-list"
             (cdkDropListDropped)="drop($event)">
          <mat-grid-list *ngIf="entries.length > 0" cols="2" gutterSize="10" rowHeight="80" [class.loading]="section.dataSource.loading$ | async">
            <mat-grid-tile *ngFor="let entry of entries">
              <app-entry-card cdkDrag [showStatus]="true" [cdkDragDisabled]="isDisabled(entry)" [entry]="entry"></app-entry-card>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </ng-container>
      <mat-paginator [id]="'paginator-' + section.type" [class.single-page]="paginator.pageIndex === 0 && !paginator.hasNextPage()"
                     #paginator="matPaginator" [hidePageSize]="true" [pageIndex]="section.filter.page" [pageSize]="section.filter.size"></mat-paginator>
    </div>
  </mat-expansion-panel>
</mat-accordion>
