<mat-card *ngIf="entry">
  <mat-card-title>
    <span class="entry-name" appTextOverflow #name="appTextOverflow"
          [matTooltip]="entry.name" matTooltipShowDelay="666"
          [matTooltipDisabled]="!name.overflowing">{{entry.name}}</span>
    <span class="entry-info">
      <span class="entry-key">{{entry.key}}</span>
    </span>
  </mat-card-title>
  <mat-card-content>
    <div class="entry-description" matTooltipShowDelay="666"
         appTextOverflow #description="appTextOverflow"
         [matTooltipDisabled]="!description.overflowing"
         [matTooltip]="entry.description">{{entry.description || ('ENTRY_CARD.LABEL_NO_DESCRIPTION' | translate)}}</div>
  </mat-card-content>
</mat-card>
