@import '~src/variables';

:host {
  display: block;
  position: relative;
  user-select: none;

  &.cdk-drag:not(.cdk-drag-disabled) {
    &:hover {
      cursor: move !important;
    }
  }

  &.cdk-drag-dragging, &.cdk-drag-preview {
    mat-card {
      @include mat-elevation(8);
    }
  }

  &.cdk-drag-disabled {
    &:hover {
      cursor: not-allowed !important;
    }
  }

  &.entry-card-selected {
    cursor: pointer;
    mat-card {
      @include mat-elevation(6);
      background-color: mat-color($app-accent, 500) !important;
      color: $light-primary-text;
      .entry-key, .entry-description {
        color: $light-secondary-text !important;
      }
    }
  }

  &.entry-card-selectable:not(.cdk-drag-disabled):not(.entry-card-selected) {
    &:hover {
      cursor: pointer;
      mat-card {
        @include mat-elevation(4);
      }
    }
  }

  .mat-card {
    overflow: visible;
    ::ng-deep {
      .entry-key, .entry-description {
        color: $dark-secondary-text;
      }
      .mat-card-title {
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        .entry-name {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          flex: 1 1 auto;
        }
        .entry-info {
          margin-left: 6px;
          display: flex;
          align-items: center;
        }
        .entry-key {
          font-size: 12px;
        }
        mat-icon {
          font-size: 16px !important;
          width: 16px !important;
          height: 16px !important;
          align-self: baseline;
          margin-left: 4px;
        }
      }
      .entry-description {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}
