<mat-sidenav-container>
  <mat-sidenav-content>
    <form *ngIf="form" [formGroup]="form">
      <mat-card>
        <mat-card-title>{{'ENTRIES.EDITOR.CONTENT.TITLE.CONDITIONS' | translate}}</mat-card-title>
        <mat-card-content>

          <mat-card-subtitle>{{'ENTRIES.EDITOR.CONDITIONS.SUBTITLES.TITLE' | translate}}</mat-card-subtitle>
          <mat-form-field appearance="outline">
            <mat-label>{{'ENTRIES.EDITOR.CONDITIONS.TITLE.LABEL' | translate}}</mat-label>
            <input matInput required formControlName="title" autocomplete="off">
          </mat-form-field>

          <mat-card-subtitle>{{'ENTRIES.EDITOR.CONDITIONS.SUBTITLES.BODY' | translate}}</mat-card-subtitle>
          <div class="codemirror-wrapper">
            <p class="code-input-label">
              <span class="required-field">{{'ENTRIES.EDITOR.CONDITIONS.BODY.LABEL' | translate}}</span>
              <span class="mat-caption">
                <br>{{'ENTRIES.EDITOR.CONDITIONS.BODY.HINT' | translate}}
                <br>{{'ENTRIES.EDITOR.CONDITIONS.BODY.AUTOCOMPLETE' | translate}}
              </span>
            </p>
            <ngx-codemirror formControlName="body" name="body" [options]="CODE_MIRROR_OPTIONS"></ngx-codemirror>
          </div>

          <mat-card-subtitle>{{'ENTRIES.EDITOR.CONDITIONS.SUBTITLES.BUTTONS' | translate}}</mat-card-subtitle>
          <mat-form-field appearance="outline">
            <mat-label>{{'ENTRIES.EDITOR.CONDITIONS.ACCEPT.LABEL' | translate}}</mat-label>
            <input matInput required formControlName="acceptLabel" autocomplete="off">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{'ENTRIES.EDITOR.CONDITIONS.REJECT.LABEL' | translate}}</mat-label>
            <input matInput required formControlName="rejectLabel" autocomplete="off">
          </mat-form-field>

        </mat-card-content>
        <mat-card-actions *ngIf="isLatestVersion()">
          <button mat-button type="button" color="primary" [disabled]="form.invalid" (click)="save()">{{'ENTRIES.EDITOR.BUTTONS.SAVE' | translate}}</button>
          <ng-container *ngIf="version != null">
            <button mat-button type="button" color="primary" [disabled]="version.status === STATUS.ACTIVE" (click)="activate()">{{'ENTRIES.EDITOR.BUTTONS.ACTIVATE' | translate}}</button>
            <button mat-button type="button" color="warn" [disabled]="version.status !== STATUS.DRAFT" (click)="delete()">{{'ENTRIES.EDITOR.BUTTONS.DELETE' | translate}}</button>
          </ng-container>
          <ng-container *ngIf="version != null && this.form.valid">
            <button mat-button color="primary" (click)="openApiUrlDialog()">{{'FORM_CREATOR.API_URL.BUTTON_VIEW' | translate}}</button>
          </ng-container>
        </mat-card-actions>
      </mat-card>
      <div class="back-button-wrapper">
        <button mat-button color="primary" routerLink="../">{{'COMMON.BUTTONS.BACK' | translate}}</button>
      </div>
    </form>
  </mat-sidenav-content>
  <mat-sidenav opened mode="side" position="end">
    <app-entry-info *ngIf="entry" [entry]="entry" [version]="version" (selectVersion)="selectVersion($event)"></app-entry-info>
    <app-entry-preview [safePreview]="safePreview"></app-entry-preview>
  </mat-sidenav>
</mat-sidenav-container>
