
.editor {
  width: 100%;
  min-height: 500px;

  cm-ace-editor {
    border: 2px solid rgba(0, 0, 0, 0.12);
    &:hover {
      border: 2px solid rgba(0, 0, 0, 0.87);
    }
    &:focus-within {
      border: 2px solid black;
    }

    &.ng-invalid {
      border: 2px solid red!important;
    }
  }

  &.email {
    min-height: 200px;
    margin-bottom: 1.5em;
    border-radius: 5px;
    overflow: hidden;
    transition: all .25s ease;


  }
}
