<h2 mat-dialog-title>{{data.value ? ('RECORDS.DIALOG.TITLE_UPDATE' | translate) : ('RECORDS.DIALOG.TITLE_NEW' | translate)}}</h2>

<div mat-dialog-content *ngIf="form" [formGroup]="form">

  <mat-form-field appearance="fill">
    <mat-label>{{'RECORDS.COMMON.KEY.LABEL' | translate}}</mat-label>
    <input matInput disabled [value]="data.key">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{'RECORDS.COMMON.VALUE.LABEL' | translate}}</mat-label>
    <mat-select formControlName="value" matInput required>
      <mat-option value="accepted">{{'RECORDS.COMMON.VALUE.ACCEPTED' | translate}}</mat-option>
      <mat-option value="refused">{{'RECORDS.COMMON.VALUE.REFUSED' | translate}}</mat-option>
    </mat-select>
  </mat-form-field>

</div>

<div class="btn-uppercase align-right" mat-dialog-actions>
  <button mat-button color="primary" [disabled]="form.disabled" [mat-dialog-close]="null">{{'COMMON.BUTTONS.CANCEL' | translate}}</button>
  <button mat-button color="primary" [disabled]="form.disabled" (click)="submit()">{{'COMMON.BUTTONS.SAVE' | translate}}</button>
</div>
