<div class="title-container">
  <h2>{{'API.KEYS.TITLE' | translate}}</h2>
</div>

<div class="table-container mat-elevation-z6">
  <div class="progress-bar-container" *ngIf="dataSource.loading$ | async">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <table mat-table [dataSource]="dataSource" [class.loading]="dataSource.loading$ | async">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>{{'API.KEYS.NAME.LABEL' | translate}}</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="key">
      <th mat-header-cell *matHeaderCellDef>{{'API.KEYS.KEY.LABEL' | translate}}</th>
      <td mat-cell *matCellDef="let element">{{element.key}}</td>
    </ng-container>

    <ng-container matColumnDef="creationDate">
      <th mat-header-cell *matHeaderCellDef>{{'API.KEYS.CREATION_DATE.LABEL' | translate}}</th>
      <td mat-cell *matCellDef="let element">{{element.creationDate}}</td>
    </ng-container>

    <ng-container matColumnDef="lastAccessDate">
      <th mat-header-cell *matHeaderCellDef>{{'API.KEYS.LAST_ACCESS_DATE.LABEL' | translate}}</th>
      <td mat-cell *matCellDef="let element">{{element.lastAccessDate}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="dropKey(element)">
          <mat-icon>trash</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
