<mat-sidenav-container>
  <mat-sidenav-content>
    <div class="container" *ngIf="subject">

      <div class="subcontainer">TODO : cartouche user {{subject}}</div>

      <div class="subcontainer">
        <cm-operator-processing [subject]="subject"
                                (operatorAction)="operatorActionProcessing($event)"></cm-operator-processing>
      </div>

      <div class="subcontainer">
        <cm-operator-preferences [subject]="subject"
                                 (operatorAction)="operatorActionPreferences($event)"></cm-operator-preferences>
      </div>

      <div class="subcontainer">
        <cm-operator-conditions [subject]="subject"></cm-operator-conditions>
      </div>

    </div>
  </mat-sidenav-content>

  <mat-sidenav [opened]="true" mode="side" position="end">
    <div>
      TODO : log
    </div>
  </mat-sidenav>
</mat-sidenav-container>
