@import "src/variables";

:host {
  display: block;
  margin: auto;

  mat-expansion-panel {
    box-shadow: none !important;
    background: none !important;

    .mat-expansion-panel-header {
      background: none !important;

      &[aria-disabled=true] {
        color: $dark-primary-text;
      }

      .library-title {
        font-size: mat-font-size($typography, 'subheading-2');
        display: flex;
        align-items: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 300;
        opacity: .9;
      }

      .mat-icon {
        margin-right: 8px;
      }
    }

    .panel-description {
      margin: 0 0 32px 1em;
      padding-left: 1em;
      border-left: 4px solid mat-color($app-accent, 500);
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      color: #000B;
      font-weight: 300;
      font-size: .95em;
    }
  }

  ::ng-deep .empty-hint {
    color: $dark-secondary-text;
  }

}
