@import "src/variables";

:host {
  display: block;
  margin: auto;

  mat-expansion-panel {
    box-shadow: none !important;
    background: none !important;

    .mat-expansion-panel-header {
      background: none !important;

      &[aria-disabled=true] {
        color: $dark-primary-text;
      }

      .library-title {
        font-size: mat-font-size($typography, 'subheading-2');
        display: flex;
        align-items: center;
      }

      .mat-icon {
        margin-right: 8px;
      }

      .mat-progress-bar {
        align-self: center;
        width: 32px;
        margin-left: 10px;
      }
    }

    .panel-description {
      margin: 0 0 32px 32px;
    }
  }
}
