<mat-card *ngIf="getData()">
  <h2 *ngIf="getData()['title']">
    {{ getData()['title'] }}
  </h2>
  <mat-card-content>
    <div class="user-infos-header" *ngIf="getData()['header']">
      {{ getData()['header'] }}
    </div>
    <div class="user-infos-privacy" *ngIf="getData()['privacyPolicyUrl']">
      <a [href]="getData()['privacyPolicyUrl']">
        {{ getData()['customPrivacyPolicyText'] ? getData()['customPrivacyPolicyText'] : ('USER.PRIVACY_POLICY' | translate) }}
      </a>
    </div>
    <div class="user-infos-privacy" *ngIf="getData()['shortNoticeLinkVisible'] && getData()['shortNoticeLink']">
      <a [href]="getData()['shortNoticeLink']">
        {{ 'USER.SHORT_PRIVACY_POLICY' | translate }}
      </a>
    </div>
    <mat-card class="user-infos-dataController" *ngIf="getData()['dataControllerVisible'] && getData()['dataController']">
      <mat-card-content>
        <div class="user-infos-controller">{{ 'USER.CONTROLLER_TITLE' | translate}}</div>
        <div class="user-infos-company" *ngIf="getData()['dataController']['company']">
          {{ getData()['dataController']['company'] }}
        </div>
        <div class="user-infos-info" *ngIf="getData()['dataController']['info']">
          {{ getData()['dataController']['info'] }}
        </div>
        <div class="user-infos-address" *ngIf="getData()['dataController']['address']">
          {{ getData()['dataController']['address'] }}
        </div>
        <div class="user-infos-email" *ngIf="getData()['dataController']['email']">
          {{ getData()['dataController']['email'] }}
        </div>
        <div class="user-infos-phoneNumber" *ngIf="getData()['dataController']['phoneNumber']">
          {{ getData()['dataController']['phoneNumber'] }}
        </div>
      </mat-card-content>
    </mat-card>
    <div class="user-infos-element" *ngIf="getData()['scopeVisible'] && getData()['scope']">
      {{ getData()['scope'] }}
    </div>
    <div class="user-infos-element" *ngIf="getData()['jurisdictionVisible'] && getData()['jurisdiction']">
      {{ getData()['jurisdiction'] }}
    </div>
    <div class="user-infos-element" *ngIf="getData()['footer']">
      {{ getData()['footer'] }}
    </div>
  </mat-card-content>
</mat-card>
