:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;

  .container {
    margin: 2em;

    .subcontainer {
      margin: 2em 0;

      .subject {
        display: flex;
        flex-direction: row;

        .subject-icon {
          height: 96px;
          width: 96px;
          font-size: 96px;
          color: #3F3F3F;
          margin-right: 16px;
        }

        .subject-details {
          display: flex;
          flex-direction: column;

          .subject-name {
            font-size: 32px;
            padding: 16px 0;
          }
        }

        .subject-date {
          padding: 16px 0 0 32px;
        }

        .subject-info {
          display: flex;
          align-items: center;

          .subject-info-icon {
            margin-right: 8px;
          }

          button {
            margin-left: 8px;
          }
        }
      }
    }
  }

  mat-sidenav {
    width: 350px;
    padding: 2em;

    .list-content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;

      .list-content-text {
        display: flex;

        .list-content-key {
          font-weight: bold;
        }

        mat-icon {
          margin-left: 8px;
        }
      }
    }

    .empty-log {
      padding: 1em;
      font-style: italic;
    }

    .log-button-container {
      margin-top: 2em;
    }
  }
}
