:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;

  ::ng-deep {
    .dashboard {
      margin: 0 auto;
      //max-width: 1000px;
      width: 100%;
      box-sizing: border-box;

      .search-container {
        margin-top: 2em;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .search-bar {
          width: 100%;
          max-width: 500px;
          margin-left: 2em;

          .search-field {
            width: 100%;
          }
        }

        .search-button {
          display: flex;
          justify-content: center;
          margin: 0.25em 1em 1.75em 1em;
        }
      }

      .graphs {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        mat-card {
          margin: 2em;

          .chart-container {
            // todo
          }
        }
      }
    }
  }
}
