<div class="search-container">
  <form (ngSubmit)="submitSearch()">
    <mat-form-field appearance="fill">
      <mat-label>{{'RECORDS.COMMON.SUBJECT.LABEL' | translate}}</mat-label>
      <input matInput class="search-field" name="query" type="text" [(ngModel)]="filter.query" autocomplete="off">
    </mat-form-field>
    <div>
      <button mat-raised-button type="submit" color="primary">{{'RECORDS.SEARCH_BUTTON' | translate}}</button>
      <button mat-raised-button color="primary" (click)="goToUserRecords()" [disabled]="filter.query.length == 0">{{'RECORDS.JUMP_BUTTON' | translate}}</button>
    </div>
  </form>
</div>

<div class="table-container mat-elevation-z6">
  <div class="progress-bar-container" *ngIf="dataSource.loading$ | async">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <table mat-table [dataSource]="dataSource" [class.loading]="dataSource.loading$ | async"
         matSort [matSortActive]="filter.order" [matSortDirection]="filter.direction" matSortDisableClear="true">

    <ng-container matColumnDef="id">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>{{'RECORDS.COMMON.ID.LABEL' | translate}}</th>
      <td mat-cell *matCellDef="let element">{{element.id | shortId}}</td>
    </ng-container>

    <ng-container matColumnDef="serial">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>{{'RECORDS.COMMON.SERIAL.LABEL' | translate}}</th>
      <td mat-cell *matCellDef="let element">{{element.serial}}</td>
    </ng-container>

    <ng-container matColumnDef="headKey">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>{{'RECORDS.COMMON.HEADER.LABEL' | translate}}</th>
      <td mat-cell *matCellDef="let element">{{element.headKey || '-'}}</td>
    </ng-container>

    <ng-container matColumnDef="bodyKey">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>{{'RECORDS.COMMON.BODY.LABEL' | translate}}</th>
      <td mat-cell *matCellDef="let element">{{element.bodyKey}}</td>
    </ng-container>

    <ng-container matColumnDef="footKey">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>{{'RECORDS.COMMON.FOOTER.LABEL' | translate}}</th>
      <td mat-cell *matCellDef="let element">{{element.footKey || '-'}}</td>
    </ng-container>

    <ng-container matColumnDef="subject">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>{{'RECORDS.COMMON.SUBJECT.LABEL' | translate}}</th>
      <td mat-cell *matCellDef="let element"> <span class="user-link" [routerLink]="element.subject">{{element.subject}}</span></td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>{{'RECORDS.COMMON.TYPE.LABEL' | translate}}</th>
      <td mat-cell *matCellDef="let element">{{'COMMON.ENTRY_TYPES.' + element.type.toUpperCase() | translate}}</td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>{{'RECORDS.COMMON.VALUE.LABEL' | translate}}</th>
      <td mat-cell *matCellDef="let element"><mat-icon>{{element.value == "accepted" ? 'check' : (element.value == "refused" ? 'close' : '-')}}</mat-icon></td>
    </ng-container>

    <ng-container matColumnDef="collectionMethod">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>{{'RECORDS.COMMON.COLLECTION_METHOD.LABEL' | translate}}</th>
      <td mat-cell *matCellDef="let element">{{'COMMON.COLLECTION_METHODS.' + element.collectionMethod | translate}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>{{'RECORDS.COMMON.STATUS.LABEL' | translate}}</th>
      <td mat-cell *matCellDef="let element">{{'RECORDS.COMMON.STATUS.VALUES.' + element.status | translate}}</td>
    </ng-container>

    <ng-container matColumnDef="creationTimestamp">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>{{'RECORDS.COMMON.CREATION.LABEL' | translate}}</th>
      <td mat-cell *matCellDef="let element">{{element.creationTimestamp | date:'medium'}}</td>
    </ng-container>

    <ng-container matColumnDef="expirationTimestamp">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>{{'RECORDS.COMMON.EXPIRATION.LABEL' | translate}}</th>
      <td mat-cell *matCellDef="let element">{{element.expirationTimestamp > 0 ? (element.expirationTimestamp | date:'medium') : '-'}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageIndex]="filter.page" [pageSize]="this.filter.size"
                 showFirstLastButtons></mat-paginator>
</div>
