:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;

  .title-container {
    margin: 2em;
  }

  .search-container {
    margin: 2em;

    form {
      display: flex;
      flex-direction: row;

      mat-form-field {
        flex: 1 1 auto;
        margin-right: 1em;
      }

      button {
        margin-top: 0.5em;
      }

      button:last-child {
        margin-left: 1em;
      }
    }
  }

  .search-field {
    width: 100%;
    margin-right: 1em;
  }

  .table-container {
    position: relative;
    margin: 2em;

    .progress-bar-container {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
    }

    table {
      width: 100%;

      &.loading {
        ::ng-deep tbody tr {
          opacity: 0.5;
        }
      }

      td {
        max-width: 20em;
      }
    }
  }

  .user-link {
    cursor: pointer;
  }

  .operator-container {
    margin-top: 1em;
  }
}
