<mat-toolbar color="primary">
  <span [routerLink]="'/'">{{'NAV.TITLE' | translate}}</span>
  <nav>
    <button mat-button [routerLink]="'./entries'"
            [routerLinkActive]="'active-link'">{{'ENTRIES.TITLE' | translate}}</button>
    <button mat-button [routerLink]="'./conditions'"
            [routerLinkActive]="'active-link'">{{'COMMON.ENTRY_TYPES.CONDITIONS' | translate}}</button>
    <button mat-button [routerLink]="'./emails'"
            [routerLinkActive]="'active-link'">{{'COMMON.ENTRY_TYPES.EMAIL' | translate}}</button>
    <button mat-button [routerLink]="'./themes'"
            [routerLinkActive]="'active-link'">{{'THEMES.TITLE' | translate}}</button>
    <button mat-button [routerLink]="'./records'"
            [routerLinkActive]="'active-link'">{{'RECORDS.TITLE' | translate}}</button>
    <button mat-button [routerLink]="'./form'"
            [routerLinkActive]="'active-link'">{{'FORM_CREATOR.TITLE' | translate}}</button>
  </nav>
  <span class="spacer"></span>
  <span>
    <button mat-button [matMenuTriggerFor]="userMenu">{{keycloak.getUsername()}}</button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="keycloak.logout()">{{'NAV.KEYCLOAK.LOGOUT' | translate}}</button>
    </mat-menu>
  </span>
</mat-toolbar>
<router-outlet></router-outlet>
