<app-toolbar></app-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-list>
      <mat-list-item class="section-header">
        <button mat-button [routerLink]="'./customers'"
                [routerLinkActive]="'active-link'">{{'NAV.CATEGORIES.CUSTOMERS.LABEL' | translate}}</button>
      </mat-list-item>
    </mat-list>

    <mat-list>
      <mat-list-item class="section-header">
        <button mat-button (click)="toggleSection()"
                [class.active-link]="elements.isActive || conditions.isActive || emails.isActive || themes.isActive">
          {{'NAV.CATEGORIES.MODELS.LABEL' | translate}}
        </button>
      </mat-list-item>
      <mat-accordion>
        <mat-expansion-panel hideToggle [expanded]="showModelSubsections">
          <mat-list-item>
            <button mat-button #elements="routerLinkActive" [routerLink]="'./config/elements'"
                    [routerLinkActive]="'active-link'">{{'NAV.CATEGORIES.MODELS.ELEMENTS' | translate}}</button>
          </mat-list-item>
          <mat-list-item>
            <button mat-button #conditions="routerLinkActive" [routerLink]="'./config/conditions'"
                    [routerLinkActive]="'active-link'">{{'NAV.CATEGORIES.MODELS.CONDITIONS' | translate}}</button>
          </mat-list-item>
          <mat-list-item>
            <button mat-button #emails="routerLinkActive" [routerLink]="'./config/emails'"
                    [routerLinkActive]="'active-link'">{{'NAV.CATEGORIES.MODELS.EMAILS' | translate}}</button>
          </mat-list-item>
          <mat-list-item>
            <button mat-button #themes="routerLinkActive" [routerLink]="'./config/themes'"
                    [routerLinkActive]="'active-link'">{{'NAV.CATEGORIES.MODELS.THEMES' | translate}}</button>
          </mat-list-item>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-list>

    <mat-list>
      <mat-list-item class="section-header">
        <button mat-button [routerLink]="'./forms'"
                [routerLinkActive]="'active-link'">{{'NAV.CATEGORIES.FORMS.LABEL' | translate}}</button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
