.spacer {
  flex: 1 1 auto;
}

nav {
  margin-left: 1em;
  .active-link {
    background: rgba(255, 255, 255, 0.14);
  }
}

:host ::ng-deep router-outlet + *:not(.side-nav-wrapper) {
  display: block;
  margin: 2em auto;
  width: 980px;
}
