/* You can add global styles to this file, and also import other style files */
@import 'theme';
@import '~codemirror/lib/codemirror';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  background-color: #efefef;
}

[mat-dialog-actions], mat-dialog-actions {
  &.align-right {
    justify-content: flex-end;
  }
  &.btn-uppercase button {
    text-transform: uppercase;
  }
}
