/* You can add global styles to this file, and also import other style files */
@import 'theme';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


$scrollbar-background: mat-color($mat-gray, 100);
$scrollbar-thumb: mat-color($mat-gray, 400);
* {
  scrollbar-width: thin;
  scrollbar-color: $scrollbar-thumb $scrollbar-background;
  ::-webkit-scrollbar {
    width: 11px;
  }
  &::-webkit-scrollbar-track {
    background: $scrollbar-background;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb;
    border-radius: 6px;
    border: 3px solid $scrollbar-background;
  }
}

[mat-dialog-actions], mat-dialog-actions {
  &.align-right {
    justify-content: flex-end;
  }
  &.btn-uppercase button {
    text-transform: uppercase;
  }
}

.mat-snack-bar-container {
  margin-top: 0!important;
}

.mat-snack-bar-error {
  background-color: mat-color($mat-red, 700);
  color: white;
}

.mat-snack-bar-warning {
  background-color: mat-color($mat-deep-orange, 700);
  color: white;
}

.mat-icon {
  &.mat-icon-small {
    font-size: 16px !important;
    width: 16px !important;
    height: 16px !important;
  }

  &.mat-icon-2x {
    font-size: 48px;
    width: 48px;
    height: 48px;
  }

  &.mat-icon-3x {
    font-size: 60px;
    width: 60px;
    height: 60px;
  }
}

.badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: mat-font-size($typography, caption);
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 4px;
  background-color: mat-color($mat-gray, 300);
  color: mat-contrast($mat-gray, 300);
  + .badge {
    margin-left: 6px;
  }
  &.badge-primary {
    background-color: mat-color($app-primary, 500);
    color: mat-contrast($app-primary, 500);
  }
  &.badge-accent {
    background-color: mat-color($app-accent, 500);
    color: mat-contrast($app-accent, 500);
  }
  &.badge-success {
    background-color: mat-color($mat-light-green, 700);
    color: mat-contrast($mat-light-green, 700);
  }
  &.badge-warning {
    background-color: mat-color($mat-red, 500);
    color: mat-contrast($mat-red, 500);
  }
}

.mat-secondary-text {
  color: $dark-secondary-text;
}

.container .title-container h2 {
  font-size: mat-font-size($typography, 'title');
  font-weight: 400;
  display: flex;
  align-items: center;
  mat-icon {
    margin-right: 10px;
  }
}
