/* You can add global styles to this file, and also import other style files */
@import 'theme';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  background-color: #efefef;
}

[mat-dialog-actions], mat-dialog-actions {
  &.align-right {
    justify-content: flex-end;
  }
  &.btn-uppercase button {
    text-transform: uppercase;
  }
}

.mat-snack-bar-error {
  background-color: mat-color($mat-red, 700);
  color: white;
}

.mat-snack-bar-warning {
  background-color: mat-color($mat-deep-orange, 700);
  color: white;
}

.badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: mat-font-size($typography, caption);
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 4px;
  background-color: mat-color($mat-gray, 600);
  color: mat-contrast($mat-gray, 600);
  + .badge {
    margin-left: 6px;
  }
  &.badge-primary {
    background-color: mat-color($app-primary, 500);
    color: mat-contrast($app-primary, 500);
  }
  &.badge-accent {
    background-color: mat-color($app-accent, 500);
    color: mat-contrast($app-accent, 500);
  }
  &.badge-success {
    background-color: mat-color($mat-green, 600);
    color: mat-contrast($mat-green, 600);
  }
  &.badge-warning {
    background-color: mat-color($mat-red, 500);
    color: mat-contrast($mat-red, 500);
  }
}
