<div class="container">
  <div class="title-container">
    <h2><mat-icon>{{ICONS.gettingStarted}}</mat-icon> {{'API.GETTING_STARTED.TITLE' | translate}}</h2>
  </div>
  <div [innerHTML]="'API.GETTING_STARTED.DESCRIPTION.' + sectionName | translate"></div>
  <div [innerHTML]="'API.GETTING_STARTED.MORE' | translate"></div>
  <a mat-flat-button color="accent" href="https://fairandsmart.github.io/right-consents/docs/overview/" target="_blank">
    {{'API.GETTING_STARTED.MORE_BUTTON' | translate}}
  </a>
</div>
